<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <marquee behavior="" direction="">
            <h1>indian people mostly like the biriayani </h1>
            <a href="{% url 'food:biriyani' %}">go to biriyani</a>
            <a href="{% url 'food:parota' %}">go to parota hotel</a>
            <a href="{% url 'drinks:mh' %}">order drink</a>
            <a href="{% url 'drinks:natusara' %}">only 60rs</a>
        </marquee>
    </center>
    
</body>
</html>